SOURCE/Classes/bin/
SOURCE/Classes/obj/
SOURCE/ClassesTest/bin/
SOURCE/ClassesTest/obj/
SOURCE/Design/bin/
SOURCE/Design/obj/
SOURCE/TestResults/
ignore
/SOURCE/DatabaseControl/obj/Debug
Debug
/~$Agenda.docx
/~$ojectplan.docx
/~$Setup.docx
/~$Tasks.xlsx
/~WRL0005.tmp
SOURCE/SOURCE.v11.suo
SOURCE/SOURCE.v12.suo
/SOURCE/SOURCE.v11.suo
/SOURCE/SOURCE.v12.suo
/~$hedule.docx
