body {
	background-color: GhostWhite   ;
}

#background-image{
	height: 650px;
}

#navbar1{
	background-color: black;

}

#Register{
	color: white;
	top: -15px;
}

#ForgottenPassword{
	color: white;
	position: relative;
	right: -145px;
	top: -15px;
}

#Registration{
	background-color: white;
	width: 750px;
	height: 650px;
	position: relative;
    padding: 25px;
    border: 1px solid ;
    margin: 15px;
}

#Leagues{
	background-color: white;
	width: 750px;
	height: 450px;
	position: relative;
    padding: 5px;
    border: 1px solid ;
    margin: 15px;
	overflow: hidden;
}

#Leagues-text{
	position: relative;
	width: 190px;
	height: 400px;
	margin: 28px;
	font-size: 14px;
	line-height: 100%;

}


#Leagues2{
	position: relative;
	right: -220px;
	top: -450px;
}

#Text3{
	background-color: white;
	width: 750px;
	height: 300px;
	position: relative;
    padding: 5px;
    border: 1px solid ;
    margin: 15px;
}

#Leagues1{
	position: relative;
}

#LeaguesHeading{
	background-color: white;
	width: 750px;
	height: 70px;
	position: relative;
	top: 20px;
    padding: 10px;
    border: 1px solid ;
    margin: 15px;
}

#SponsorsHeading{
	background-color: white;
	width: 750px;
	height: 70px;
	position: relative;
	top: 20px;
    padding: 10px;
    border: 1px solid ;
    margin: 15px;
}

#PicturesHeading{
	background-color: white;
	position: absolute;
	right: 180px;
	top: 810px;
	width: 330px;
	height: 45px;
    padding: 1px;
    border: 1px solid ;
    margin: 15px;
}
#Pictures1{
	background-color: white;
	position: absolute;
	right: 180px;
	top: 850px;
	width: 330px;
	height: 170px;
    padding: 15px;
    border: 1px solid ;
    margin: 15px;
}
#Pictures1 img{
padding-bottom: 10px;
}

#TwitterHeading{
	background-color: white;
	position: absolute;
	right: 180px;
	top: 1060px;
	width: 330px;
	height: 45px;
    padding: 1px;
    border: 1px solid ;
    margin: 15px;
}
#Twitter{
	background-color: white;
	position: absolute;
	right: 180px;
	top: 1100px;
	width: 330px;
	height: 370px;
    padding: 15px;
    border: 1px solid ;
    margin: 15px;
}


#back-arrow-1 {
	position: relative;
	right: -500px;
}

#Forward-arrow-1 {
	position: relative;
	right: -500px;
}




#Heading {
	background-color: white;
	width: 750px;
	height: 70px;
	position: relative;
    padding: 1px;
    border: 1px solid ;
    margin: 15px;
}

#VisitorsText {
	background-color: white;
	width: 750px;
	height: 800px;
	position: relative;
    padding: 25px;
    border: 1px solid ;
    margin: 15px;
}
#VisitorsText img{
	position: relative;
	left: 70px;
	padding-left: 25px;

}

#LocationText {
	background-color: white;
	width: 750px;
	height: 1000px;
	position: relative;
    padding: 25px;
    border: 1px solid ;
    margin: 15px;
}
#LocationText img{
	position: relative;
	left: 20px;
	padding-left: 25px;

}

#ReservationText {
	background-color: white;
	width: 750px;
	height: 1300px;
	position: relative;
    padding: 25px;
    border: 1px solid ;
    margin: 15px;
}

#TicketsText {
	background-color: white;
	width: 750px;
	height: 500px;
	position: relative;
    padding: 25px;
    border: 1px solid ;
    margin: 15px;
}

#ParticipantsText {
	background-color: white;
	width: 750px;
	height: 600px;
	position: relative;
    padding: 25px;
    border: 1px solid ;
    margin: 15px;
}

#ScheduleText {
	background-color: white;
	width: 750px;
	height: 600px;
	position: relative;
    padding: 25px;
    border: 1px solid ;
    margin: 15px;
}

#RoboCupSoccerText {
	background-color: white;
	width: 750px;
	height: 1500px;
	position: relative;
    padding: 25px;
    border: 1px solid ;
    margin: 15px;
}

#RoboCupRescueText {
	background-color: white;
	width: 750px;
	height: 900px;
	position: relative;
    padding: 25px;
    border: 1px solid ;
    margin: 15px;
}

#RoboCupJuniorText {
	background-color: white;
	width: 750px;
	height: 600px;
	position: relative;
    padding: 25px;
    border: 1px solid ;
    margin: 15px;
}

#RoboCupHomeText {
	background-color: white;
	width: 750px;
	height: 550px;
	position: relative;
    padding: 25px;
    border: 1px solid ;
    margin: 15px;
}

#RoboCupWorkText {
	background-color: white;
	width: 750px;
	height: 600px;
	position: relative;
    padding: 25px;
    border: 1px solid ;
    margin: 15px;
}

#SponsorsText {
	background-color: white;
	width: 750px;
	height: 1200px;
	position: relative;
    padding: 5px;
    border: 1px solid ;
    margin: 15px;
}

#ContactUsText {
	background-color: white;
	width: 750px;
	height: 600px;
	position: relative;
    padding: 25px;
    border: 1px solid ;
    margin: 15px;
}

#RegisterText {
	background-color: white;
	width: 750px;
	height: 700px;
	position: relative;
    padding: 25px;
    border: 1px solid ;
    margin: 15px;
	text-align: center;
}

#ForgottenText {
	background-color: white;
	width: 750px;
	height: 300px;
	position: relative;
    padding: 25px;
    border: 1px solid ;
    margin: 15px;
	text-align: center;
}
